<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title><h1 style="font-size: 13px;">Queue Reservation Application For Krua Pa Lai</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="brown2-1000">
      <ion-card class="ion-card">
        <ion-title class="title">จองคิวอาหาร</ion-title>

          <ion-item class="ion-item">
            <ion-label position="floating" >กรุณาใส่เมนูที่ต้องการ</ion-label>
            <ion-input type="text" [(ngModel)]="txtname"></ion-input>

            <ion-select label="กรุณายืนยันการสั่ง : " [(ngModel)]="txtstatus" style="margin-bottom: 20px;">
              <ion-select-option value="ยืนยันการสั่ง">ยืนยันการสั่ง</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button expand="block" (click)="showQueueNumber()" (click)="addmenus()" class="ion-item2" color="brown-1000">รับคิว</ion-button>
    </ion-card>
</ion-content>
