<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>เพิ่มเมนูอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-item>
      <ion-input type="text" [(ngModel)]="txtname" placeholder="ชื่ออาหาร :"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="txtprice" placeholder="ราคา :"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="file" (change)="onfilechange($event)" accept="image/*" ></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="addproduct()" color="primary" class="buttonsave">บันทึก</ion-button>
</ion-card>
</ion-content>
