<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title><h1 style="font-size: 13px;">Queue Reservation Application For Krua Pa Lai</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="gray-1000">
        <ion-title class="title">บัญชีผู้ใช้</ion-title>
  <ion-item class="ion-item">
  <ion-avatar class="img1">
    <img src="../../assets/img/pngtree-company-avatar-icon-business-user-vector-png-image_1527662.jpg">
  </ion-avatar>
  <ion-label position="floating">ชื่อผู้ใช้/เบอร์โทร</ion-label>
    <ion-input type="text"></ion-input>
  <ion-label position="floating">ชื่อ</ion-label>
    <ion-input type="text"></ion-input>
  <ion-label position="floating">นามสกุล</ion-label>
    <ion-input type="text"></ion-input>
  <ion-label position="floating">เบอร์โทร</ion-label>
    <ion-input type="text"></ion-input>
  <ion-label position="floating">รหัสผ่าน</ion-label>
    <ion-input type="text"></ion-input>

</ion-item>
</ion-content>
