.ion-card{
  background-color:#A18F63;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	height: auto;

}

.ion-item{
 margin-top: 60px;
 margin-left: 20px;
 margin-right: 20px;
 border-top-left-radius:50px;
 border-top-right-radius:50px;
 border-bottom-left-radius:50px;
 border-bottom-right-radius:50px;
}

.ion-item2{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  }

.ion-buttonlogin{
  margin-top: 50px;
  margin-bottom: 10px;
}
