<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title><h1 style="font-size: 13px;">Queue Reservation Application For Krua Pa Lai</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="brown2-1000">
      <ion-card class="ion-card">
        <ion-title class="title">แก้ไขข้อมูล</ion-title>
          <ion-item class="ion-item">
            <ion-label position="floating" style="margin-top: 10px;">กรุณาใส่เมนูที่ต้องการแก้ไข</ion-label>
            <ion-input type="text" [(ngModel)]="menu.name"></ion-input>

            <ion-select label="กรุณาใส่สถานะของอาหาร : " [(ngModel)]="menu.status" style="margin-bottom: 20px;">
              <ion-select-option value="ยืนยันการสั่ง">ยืนยันการสั่ง</ion-select-option>
              <ion-select-option value="กำลังดำเนินการ">กำลังดำเนินการ</ion-select-option>
              <ion-select-option value="เสร็จสิ้น">เสร็จสิ้น</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button expand="block" color="success" (click)="update()" class="ion-item2" color="brown-1000">
            บันทีการแก้ไข
        </ion-button>
    </ion-card>
</ion-content>
