<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>รายการเมนูอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--Button Addmenu-->
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="add" (click)="gotoaddmenu()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
<!--Showmenu-->
<ion-card>
  <ion-card-header>
    <ion-card-title>เมนู</ion-card-title>
    <ion-card-subtitle>รายการเมนูทั้งหมด</ion-card-subtitle>
  </ion-card-header>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let i of products">
        <ion-thumbnail slot="start">
          <img alt="No image" [src]="'http://127.0.0.1/2-3/apiproject/' + i.image" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{i.name}}</h2>
          <p>{{i.price}} บาท</p>
        </ion-label>
        <ion-button (click)="deletepro(i.id)" color="danger">ลบข้อมูล</ion-button>
        <ion-button (click)="editProduct(i)">แก้ไขข้อมูล</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-card>

</ion-content>
