<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title><h1 style="font-size: 13px;">Queue Reservation Application For Krua Pa Lai</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true" color="brown2-1000">


  <ion-card class="ion-card">
    <ion-title class="haed">สมัครสมาชิก</ion-title>
      <ion-item color="dark" class="ion-item">
        <ion-label position="floating">ชื่อพนักงาน</ion-label>
        <ion-input [(ngModel)]="txtusername" type="text"></ion-input>
      </ion-item>

      <ion-item color="dark" class="ion-item">
        <ion-label position="floating">ชื่อ-นามสกุล</ion-label>
        <ion-input [(ngModel)]="txtname" type="text"></ion-input>
      </ion-item>

      <ion-item color="dark" class="ion-item">
        <ion-label position="floating">เบอร์โทร</ion-label>
        <ion-input [(ngModel)]="txtphone" type="text"></ion-input>
      </ion-item>

      <ion-item color="dark" class="ion-item">
        <ion-label position="floating">รหัสผ่าน</ion-label>
        <ion-input [(ngModel)]="txtpassword" type="password"></ion-input>
      </ion-item>

      <ion-item color="dark" class="ion-item">
        <ion-label position="floating">ยืนยันรหัสผ่าน</ion-label>
        <ion-input [(ngModel)]="txtcompassword" type="password"></ion-input>
      </ion-item>

      <ion-button size="large" (click)="register()" class="ion-buttonlogin" color="brown-1000">สมัครสมาชิก</ion-button>

  </ion-card>
</ion-content>

